<!DOCTYPE html>
<html lang="br" th:fragment="layout (conteudo)">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap-icons/1.9.1/font/bootstrap-icons.css} " th:rel="stylesheet"/>
    <link th:href="@{/webjars/jquery-toast-plugin/dist/jquery.toast.min.css} " th:rel="stylesheet"/>

    <script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery-toast-plugin/dist/jquery.toast.min.js}"></script>

    <script src="/js/estoque.js"></script>
</head>
<body>
<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Estoque</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cadastros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarSupportedContent">
                    <a class="dropdown-item" href="/p_categoria">Categoria</a>
                    <a class="dropdown-item" href="/p_fornecedor">Fornecedor</a>
                    <a class="dropdown-item" href="/p_cliente">Cliente</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main th:include="${conteudo}">

</main>

</body>
</html>