<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap-icons/1.9.1/font/bootstrap-icons.css} " th:rel="stylesheet"/>
    <link th:href="@{/webjars/jquery-toast-plugin/dist/jquery.toast.min.css} " th:rel="stylesheet"/>

    <script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery-toast-plugin/dist/jquery.toast.min.js}"></script>

    <script src="/js/estoque.js"></script>
</head>
<body>
<h2>Controle de Estoque</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <form id="categoriaForm">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome da Categoria" name="nome">
                </div>
                <button type="submit" class="btn btn-primary">Gravar</button>
            </form>
        </div>
        <div class="col-sm-7" style="margin: 20px 0px 20px 0px">
            <button id="listarCategoria" type="button" class="btn btn-primary">Listar Categoria</button>
            <div id="getResultDiv" style="padding: 20px 10px 20px 50px">
            </div>
        </div>
    </div>
</div>
</body>
</html>