<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap-icons/1.9.1/font/bootstrap-icons.css} " th:rel="stylesheet"/>
    <link th:href="@{/webjars/jquery-toast-plugin/dist/jquery.toast.min.css} " th:rel="stylesheet"/>

    <script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery-toast-plugin/dist/jquery.toast.min.js}"></script>

    <script src="/js/estoque.js"></script>
</head>
<body>
<nav class="navbar sticky-top navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">Estoque</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<h2>Categoria</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <form id="categoriaForm">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome da Categoria" name="nome">
                </div>
                <button type="submit" class="btn btn-primary">Gravar</button>
            </form>
        </div>
        <div class="col-sm-7" style="margin: 20px 0px 20px 0px">
            <button id="listarCategoria" type="button" class="btn btn-primary">Listar Categoria</button>
            <div id="getResultDiv" style="padding: 20px 10px 20px 50px">
            </div>
        </div>
    </div>
</div>
</body>
</html>